.container {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.table-container {
  width: 100%;
  margin: 0 auto;
}

.label-cell {
  width: auto;
  padding-right: 5px;
}

.form-control {
  width: 100%;
  margin-bottom: 10px;
}

.custom-table {
  overflow-x: auto;
  width: 100%;
}

.custom-table td {
  white-space: nowrap;
  padding: 0; /* Menghilangkan padding default antar sel */
}

@media (max-width: 768px) {
  .form-control-cell {
    width: 100%; /* Saat layar kecil, setiap kolom form control menjadi lebar penuh */
  }
}
